*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
*.keystore
PhotoEvents_apk/
app/build
client_secret_583888639164-57orv84rhe50bolvvpnib7a757qj5h3k.apps.googleusercontent.com.json
