<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Photo Events"
        android:theme="@style/Theme.PhotoEvents"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddEventActivity"
            android:exported="false" />

        <activity
            android:name=".EventDetailActivity"
            android:exported="false" />

        <activity
            android:name=".CategoryManagementActivity"
            android:exported="false" />

    </application>
</manifest>
